<!DOCTYPE html>
<html>


<div id="cover">
    <form method="post" action="">
        <div class="tb">
            <div class="td"><input type="text" name="inputURL" placeholder="Paste Pinterest URL Here" required>
            </div>
            <div class="td" id="s-cover">
                <button type="submit">
                    <div id="s-circle"></div>
                    <span></span>
            </div>
    </form>
</div>
