
<div class="row">
    <div class="col-12 showcase">
     
            <div class="showcase-header p-2 text-center">
                <h1 >Stop wasting time finding the ingredients you need from Pinterest recipes!</h1> 
            </div>
            
           
            
       
    </div>            
</div>
<div class="row ">
    <div class="col-12">
       
        <div class="showcase-bottom p-2">
            <img class="showcase-image" src="{% static 'pinToList/media/images/frustrated-lady.svg' %}" alt="">
            <a href="{% url 'pinToList-my_lists' %}" class="btn btn-curve-left">Start Here</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="demo p-2">
            <p>Gif giving a demo of rapido</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-box p-3">
            <h2>How it works</h2>
            <p>Say which pins you want the ingredients for and Rapido thoughtfully reads the essay long story leading up to the recipe AND returns the ingredients you need to buy! 
                All for absolutely no cost!</p>
            
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-12">
       
        <div class="showcase-bottom p-2 try-it">
            <a href="#" class="btn btn-curve-right">Try It Out</a>
            <img class="showcase-image" src="{% static 'pinToList/media/images/happy-user.svg' %}" alt="">
        </div>
    </div>
</div>
    

    <footer></footer>

